<div class="row align-items-center">
  <div class="col-md-auto">
    <span class="" style="font-size:20px;color: green;margin-left: 5px;">
      {{alertConfiguration.mesure.name}} :
    </span>
  </div>
  <div class="col-md-auto">
    Operator :
  </div>
  <div class="col-md-auto">
    <select class="form-select" [(ngModel)]="alertConfiguration.operator" [compareWith]="compareOperator">
      <option *ngFor="let operator of alertConfiguration.mesure.operators" [ngValue]="operator">
        {{operator.name}}
      </option>
    </select>
  </div>
  <div class="col-md-auto">
    Value1:
  </div>
  <div class="col-2">
    <input type="text" class="form-control" [(ngModel)]="alertConfiguration.value1">
  </div>
  <div class="col-md-auto">
    {{alertConfiguration.mesure.unit}}
  </div>
  <div class="col-md-auto">
    Value2:
  </div>
  <div class="col-2">
    <input type="text" class="form-control" [disabled]="unary()" [(ngModel)]="alertConfiguration.value2">  </div>
  <div class="col-md-auto">
    {{alertConfiguration.mesure.unit}}
  </div>
</div>
