<div [ngSwitch]="alertConfiguration.mesure.name">
  <div *ngSwitchCase="'date'"><app-configuration-date [alertConfiguration]="alertConfiguration"></app-configuration-date></div>
  <div *ngSwitchCase="'gps'"><app-configuration-gps [alertConfiguration]="alertConfiguration"></app-configuration-gps></div>
  <div *ngSwitchDefault><app-configuration-default [alertConfiguration]="alertConfiguration"></app-configuration-default></div>
</div>
