<div class="container-fluid p-0 flex-grow-1 h-100">
  <div class="row m-0 p-0 h-100" style="border-top: 2px solid grey;">
    <div class="col p-0 m-0" id="main">
      <nav class="navbar navbar-expand-lg" style="background-color: darkgray;">
        <form class="form-inline my-2 ml-60 my-lg-0">
          <input type="search" (ngModelChange)="searchAlert(key.value)" #key="ngModel" ngModel name="key"
            id="searchName" class="form-control ms-3" placeholder="Search alerts..." required>
        </form>
        <div class="d-flex justify-content-end w-100 mr-1">
          <button type="button" class="btn btn-light d-flex justify-content-end" (click)="createAlert()"
            data-toggle="modal" data-target="#exampleModal">create
            alert</button>
        </div>
      </nav>
      <ngx-datatable class="material" [rows]="displayAlerts" [loadingIndicator]="false" [columns]="columns"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
        [reorderable]="reorderable">
        <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
          prop="{{column.prop}}">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div [ngSwitch]="column.name">
              <div *ngSwitchCase="'actions'">
                <button style="background-color:blue;height:25px;font-size: 15px;margin-top: -10px; color: white;"
                  class="btn mr-1 pt-0 pb-0" data-toggle="modal" data-target="#exampleModal"
                  (click)='edit(row)'>edit</button>
                <button style="background-color:red;height:25px;font-size: 15px; margin-top: -10px; color: white;"
                  class="btn ml-1 pt-0 pb-0" (click)='delete(row)'>del</button>
              </div>
              <div *ngSwitchCase="'groupe'">
                {{row.groupe.name}}
              </div>
              <div *ngSwitchCase="'vehicule'">
                {{row.vehicule.alias}}
              </div>
              <div *ngSwitchDefault>{{value}}</div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-2">
              Name :
            </div>
            <div class="col">
              <input class="form-control d-flex" type="text" [(ngModel)]="alert.name">
            </div>
          </div>
          <div class="row mt-2 mb-2">
            <div class="col-2">
              Vehicule :
            </div>
            <div class="col">
              <select class="form-select" [(ngModel)]="alert.vehicule" (ngModelChange)="initGroupe()"
                [compareWith]="compareID">
                <option *ngFor="let vehicule of vehicules" [ngValue]="vehicule">
                  {{vehicule.alias}}
                </option>
              </select>
            </div>
            <div class="col-2">
              Groupe :
            </div>
            <div class="col">
              <select class="form-select" [(ngModel)]="alert.groupe" [compareWith]="compareID">
                <option *ngFor="let groupe of alert.vehicule.groupes" [ngValue]="groupe">
                  {{groupe.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              Frequency :
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="alert.frequency">
            </div>
            <div class="col-2">
              timeToRealert :
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="alert.timeToRealert">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-slide-toggle [(ngModel)]="alert.active">Active</mat-slide-toggle>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <app-email-manager [emailMode]="alert.emailMode" [emailsHash]="alert.email" (onChange)="setMail($event)">
              </app-email-manager>
            </div>
          </div>
          <hr>
          <div class="d-flex flex-row mt-2">
            <div class="pt-2 mr-2">
              <label>Mesure: </label>
            </div>
            <div class="w-100">

              <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="mesures" [(ngModel)]="selectedmesures">
              </ng-multiselect-dropdown>

            </div>
          </div>
          <div *ngFor="let item of selectedmesures">
            <hr>
            <div class="row">
              <div class="col">
                <app-alert-configuration [alertConfiguration]="getConfiguration(item.id)"></app-alert-configuration>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-auto">
        <button type="button" class="btn btn-danger" (click)="deleteTemplate()">Delete Template</button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-warning" (click)="loadTemplate()">Load Template</button>
        </div>
        <div class="col">

        <select [(ngModel)]="selectedTemplate" class="form-select" [compareWith]="compareID">
          <option *ngFor="let alert of templates" [ngValue]="alert">
            {{alert.name}}
          </option>
        </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveTemplate()">Add as a Template</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
