<div class="d-flex flex-column" style="height:100vh">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" style="color:white;margin: auto;cursor: pointer;" (click)="goHome()">Alert</a>
  </nav>
  <router-outlet></router-outlet>
</div>
