@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import 'bootstrap.css';

app-alert-list{
  height: 100%;
}
.delete:focus {
  outline: none;
  box-shadow: none;
  background-color: #dc3545;
}
.delete:hover{
  background-color: red;
}
.btn-circle {
  width: 60px;
  height: 60px;
  font-size: 60px;
  text-align: center;
  padding: 0cm;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
