<div>
  <div style="padding: 10px;">

      <label *ngIf="emails.length == 0">
          <i class="fa fa-exclamation-triangle" style="color: orange"></i> saisir l'adresse mail!</label>

      <span *ngFor="let email of emails" (click)="emailValue = email;emailOldValue = email; actionMode = 'UPDATE'" class="badge badge-labeled"
          style="background: #00a65a;cursor: auto">{{email}}
          <i class="fa fa-trash" (click)="deleteEmail(email)"></i>
      </span>
  </div>

  <form class="form-inline" #emailForm="ngForm">

      <div class="form-group mx-sm-3 mb-2" *ngIf="emails.length < EMAIL_MAX_LENGTH">
          <label>Email</label>
          <div class="input-group">
              <input [(ngModel)]="emailValue" type="text" name="email" class="form-control" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  placeholder="test@domain.ext">
              <span *ngIf="emailForm.valid && actionMode == 'ADD'" (click)="addEmail()" class="input-group-addon" style="color: black;background-color: #00a65a;">
                  <i class="fa fa-plus"></i>
              </span>

              <span *ngIf="emailForm.valid && actionMode == 'UPDATE'" (click)="updateEmail()" class="input-group-addon" style="color: black;background-color: #00a65a;">
                  <i class="fa fa-cog"></i>
              </span>

              <span *ngIf="!emailForm.valid" tooltip="email non valide !" class="input-group-addon" style="color: black;background-color: orange;">
                  <i class="fa fa-exclamation-triangle"></i>
              </span>

              <span (click)="init()" class="input-group-addon" style="color: black;background-color: #aa1111;">
                  <i class="fa fa-times"></i>
              </span>

          </div>
      </div>

      <mat-slide-toggle [(ngModel)]="emailMode" name="isActive" (change)="emitValue()">email notification
          <i class="fa fa-bell"></i>
      </mat-slide-toggle>

  </form>
</div>
